*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: blue;
    top: 0;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.container.header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ul-header{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.ul-header a{
    text-decoration: none;
    color: white;
    padding-left: 15px;
}

.header-mobile{
    display: none;
}

/* Main */
main{
    margin-top: 60px;
}

/* section 1 */
.main-sec1{
    width: 100%;
    height: 300px;
}

.container-sec1{
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
}

.container-sec1 .card{
    padding: 50px;
    width: calc(100% / 3 - 20px);
    background-color: aqua;
    margin: 10px;
    border-radius: 7px;
}

.container-sec1 .card-big{
    width: calc( (100% / 3) * 2 - 20px);
}

/* section 2 */
.main-sec2{
    background-color: violet;
    width: 100%;
    height: 300px;
}

.container-sec2{
    width: 70%;
    height: 275px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

/* section 3 */
.main-sec3{
    width: 100%;
    height: 500px;
    background-color: white;
}

.phrase{
    display: flex;
    justify-content: space-between;
    background-color: violet;
    border-radius: 10%;
    margin-bottom: 20px;
    padding: 20px;
}

.container-sec3 .title{
    text-align: center;
}

/* section 4 */
.main-sec4{
    width: 100%;
    background-color: violet;
    height: 300px;
}

.container-sec4{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    align-items: center;
}
.container-sec4 .card{
    width: calc(100% / 3 - 20px);
    background-color: white;
    margin: 10px;
    border: 1px solid black;
    padding: 50px;
}


/* section 5 */
.main-sec5{
    width: 100%;
    background-color: white;
    height: 300px;
}

.container-sec5{
    display: flex;
    align-items: center;
    height: 250px;
    width: 70%;
    margin: auto;
}
.container-sec5 div{
    margin: 0 20px;
}


/* section 6 */
.main-sec6{
    width: 100%;
    background-color: violet;
    height: 300px;
}

.container-sec6{
    width: 30%;
    text-align: center;
}

/* footer */
footer{
    width: 100%;
    height: 200px;
    background-color: black;
}

.container-footer{
    width: 30%;
    text-align: center;
    color: white;
}