*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 500;
    background-color:#0084fd;
    top: 0;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.container.header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ul-header{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.ul-header li{
    text-decoration: none;
    color: white;
    margin-left: 15px;
}
.ul-header a{
    text-decoration: none;
    color: white;
}
.button-white{
    background-color: white;
    border: 0ch;
    border-radius: 10px;
    padding: 5px 7.5px;
}
.button-white a{
    color: black;
}
.header-mobile{
    display: none;
}

/* Main */
main{
    margin-top: 60px;
}

/* section 1 */
.main-sec1{
    width: 100%;
}

.container-sec1{
    width: calc(80% + 20px);
    padding-top: 30px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
}
.container-sec1 h3{
    color: #0084fd;
}
.container-sec1 .card{
    padding: 25px;
    width: calc(100% / 3 - 20px);
    background-color: #b5ddff;
    margin: 10px;
    border-radius: 7px;
    text-align: center;
}

.container-sec1 .card-big{
    width: calc( (100% / 3) * 2 - 20px);
    display: flex;
    text-align: left;
}
.card-big img{
    width: 200px;
}
.button-blue{
    margin-top: 20px;
    border-radius: 20px;
    padding: 8px 25px;
    background-color: #0084fd;
    border: 0;
}
.button-blue a{
    color: white;
    text-decoration: none;
}
/* section 2 */
.main-sec2{
    background-color: #9593e6;
    width: 100%;
}

.container-sec2{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 30px 0;
    position: relative;
}
.block1 img{
    width: 250px;
}
.block2 img{
    width: 150px;
}
.container-sec2 .block1{
    width: 250px;
    color: white;
    margin-bottom: 30px;
}
.container-sec2 .block1 h3{
    margin: 70px 0 35px;
}
.container-sec2 .block2{
    width: 250px;
    background-color: white;
    padding: 15px 25px;
    border-radius: 10%;
    text-align: center;
}


/* section 3 */
.main-sec3{
    width: 100%;
    min-height: 200px;
    background-color: white;
    padding: 40px 0;
}
.container-sec3 .title{
    margin-bottom: 40px;
    text-align: center;
}
.container-sec3 h2{
    color: #9593e6;
    font-size: 25px;
    margin: 20px 0;
}
.phrase{
    display: flex;
    justify-content: space-between;
    background-color:#9593e6;
    border-radius: 5%;
    margin-bottom: 20px;
    color: white;
    padding: 20px;
}
.phrase img{
    width: 150px;
    border-radius: 100%;
}
.phrase .text{
    margin-left: 35px;
}


/* section 4 */
.main-sec4{
    width: 100%;
    background-color:#9593e6;
    min-height: 200px;
    padding: 40px 0;
}
.main-sec4 h1{
    text-align: center;
    color: white;
    margin-bottom: 30px;
    font-size: 30px;
}
.container-sec4{
    display: flex;
    flex-wrap: wrap;
}
.container-sec4 .card{
    width: calc(100% / 3 - 20px);
    background-color: white;
    margin: 10px;
    border-radius: 5%;
    padding: 25px;
    color: #9593e6;
}
.button-viol{
    border-radius: 30%;
    padding: 10px 30px;
    background-color: #9593e6;
    margin-top: 20px;
    border: 0;
}
.button-viol a{
    color: white;
    text-decoration: none;
}
/* section 5 */
.main-sec5{
    width: 100%;
    background-color: white;
}

.container-sec5{
    display: flex;
    align-items: center;
    width: 70%;
    margin: 50px auto;
}
.container-sec5 div{
    margin: 0 20px;
}
.text-sec5 h2{
    color: #9593e6;
    font-size: 30px;
}
.text-sec5 p{
    padding: 20px 0;
}
.img-sec5 img{
    width: 175px;
    border-radius: 100%;
}

.img-sec5 p{
    color: #9593e6;
    text-align: left;
    margin-top: 15px;
}
.img-sec5{
    width: 200px;
    text-align: center;
}

/* section 6 */
.main-sec6{
    width: 100%;
    background-color:#9593e6;
}

.container-sec6{
    width: 30%;
    text-align: center;
    padding: 30px 0;
}
.container-sec6 button{
    border-radius: 40%;
    padding: 20px 50px;
    background-color:white;
    margin-top: 20px;
    border: 0;
    margin: 30px auto;
}
.container-sec6 a{
    text-decoration: none;
    color:#9593e6;
}
/* footer */
footer{
    width: 100%;
    background-color: #333333;
}

.container-footer{
    padding: 30px 0;
    width: 30%;
    text-align: center;
    color: white;
}
