/* tablet version */
@media screen and (max-width: 780px) {
    .container{
        width: 95%;
    }
    .header-pc{
        display: none;
    }

    .header-mobile{
        display: block;
    }
    .header-mobile a{
        color: white;
        text-decoration: none;
    }

    .container-sec2{
        display: block;
        width: 95%;
    }
    .container-sec2 .block1{
        width: 100%;
    }

    .container-sec2 .block2{
        width: 100%;
    }
    .container-sec2 img{
        width: 100%;
    }

   
    .container-sec4 .card{
        width: calc(100% / 2 - 20px);
    }

    .container-sec5{
        width: 90%;
    }
    
    .container-sec6{
        width: 70%;
    }

    .container-footer{
        width:70%;
    }
}

/* mobile version */
@media screen and (max-width: 420px) {
    .container{
        width: 90%;
    }
    .container-sec1{
        display: block;
    }
    .container-sec1 .card{
        width: 100%;
    }


    .container-sec2{
        display: block;
    }



    .main-sec3{
        width: 100%;
        background-color: white;
    }
    .phrase{
        display: block;
        text-align:center;
    }




    .container-sec4 .card{
        width: 100%;
    }


    .main-sec5{
        height: 600px;
    }
    .container-sec5{
        display: block;
    }
}